<div class="section">
    <div class="container">
      <form class="form-horizontal" ng-submit="battenSubmitForm()" role="form">
        <div class="form-group">
            <label for="batten" class="col-sm-3 control-label">Batten</label>
            <div class="col-sm-2">
                <select id="batten" class="form-control" ng-model="student.batten">
                    <option value="30x50mm">30 x 50 mm</option>
                    <option value="40x60mm">40 x 60 mm</option>
                    <option value="60x60mm">60 x 60 mm</option>
                </select>
            </div>
            <div class="col-sm-7"></div>
        </div>
        <input type="submit" value="Continue" class="btn btn-primary col-sm-offset-3" /> 
        <br/>
        <br/>
        <a href="#/country">Back</a>               
    </form>	
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->

