
<div class="section">

    <div class="container">

      <form class="form-horizontal" ng-submit="resetPasswordForm()" role="form">
        <div class="form-group">
           <label for="lastName" class="col-sm-3 control-label">UserName</label>
            <div class="col-sm-4  ">
                <input type="text" id="firstName" class="form-control" ng-model="student.userName" />
            </div>
            <div class="col-sm-3"></div>          
		</div>
        <input type="submit" value="Reset Password" class="btn btn-primary col-sm-offset-3" />
          
    </form>	
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

