<div class="section">
    <div class="container">
      <form class="form-horizontal" ng-submit="heightSubmitForm()" role="form">
        <div class="form-group">
           <label for="lastName" class="col-sm-3 control-label">Height of location above sea level</label>
            <div class="col-sm-4  ">
                <input type="number" id="firstName" class="form-control" ng-required="true" ng-model="student.height" />
            </div>
            <div class="col-sm-3"></div>
        </div>        
        <input type="submit" value="Continue" class="btn btn-primary col-sm-offset-3" /> 
        <br/>
        <br/>
        <a href="#/country">Back</a>   
    </form>	
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->