<div class="section">
    <div class="container">
      <form class="form-horizontal" ng-submit="submitLoginForm()" role="form">
        <div class="form-group">
            <div class="col-sm-4  ">
                You haven't yet activated your account, Please check mail or click on below link!!!
            </div>
            <div class="col-sm-3"></div>
        </div>       
        <a href="#/register">First Time User?</a>         
    </form>	
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->