
<div class="section">

    <div class="container">

      <form class="form-horizontal" ng-submit="submitRegistrationForm()" role="form">
			<div class="form-group">
				<label for="title" class="col-sm-3 control-label">Anrede</label>
				<div class="col-sm-2">
					<div class="radio">
						<label><input value="Sir" type="radio" name="training"
							ng-model="student.title" />Herr</label>
					</div>
					<div class="radio">
						<label><input value="Mrs" type="radio" name="training"
							ng-model="student.title" />Frau</label>
					</div>
				</div>
			</div>
			<div class="form-group">
           <label for="surName" class="col-sm-3 control-label">Nachname</label>
            <div class="col-sm-4  ">
                <input type="text" id="surName" class="form-control" ng-required="true" ng-model="student.surName" />
            </div>
            <div class="col-sm-3"></div>

        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Vorname</label>
            <div class="col-sm-4">
                <input type="text" id="firstName" class="form-control" ng-required="true" ng-model="student.firstName" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        
        <div class="form-group">
            <label for="occupation" class="col-sm-3 control-label">Tätigkeitsfeld</label>
            <div class="col-sm-4">
                <input type="text" id="occupation" class="form-control" ng-required="true" ng-model="student.occupation" />
            </div>
            <div class="col-sm-3"></div>
        </div>        

        <div class="form-group">
            <label for="company" class="col-sm-3 control-label">Firma</label>
            <div class="col-sm-4">
                <input type="text" id="company" class="form-control" ng-required="true" ng-model="student.company" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            <label for="road" class="col-sm-3 control-label">Straße</label>
            <div class="col-sm-4">
                <input type="text" id="road" class="form-control" ng-required="true" ng-model="student.road" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            <label for="postCode" class="col-sm-3 control-label">PLZ</label>
            <div class="col-sm-2">
                <input type="number" id="postCode" class="form-control" ng-required="true" ng-model="student.postCode" />
            </div>
            <div class="col-sm-7"></div>
        </div>

        <div class="form-group">
            <label for="place" class="col-sm-3 control-label">Ort</label>
            <div class="col-sm-4">
                <input type="text" id="place" class="form-control" ng-required="true" ng-model="student.place" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            <label for="country" class="col-sm-3 control-label">Land</label>
            <div class="col-sm-4">
                <input type="text" id="country" class="form-control" ng-required="true" ng-model="student.country" />
            </div>
            <div class="col-sm-3"></div>
        </div>

         <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Telefon</label>
            <div class="col-sm-4">
                <input type="number" id="phone" class="form-control" ng-required="true" ng-model="student.phone" />
            </div>
            <div class="col-sm-3"></div>
        </div>

         <div class="form-group">
            <label for="fax" class="col-sm-3 control-label">Fax</label>
            <div class="col-sm-4">
                <input type="number" id="fax" class="form-control" ng-required="true" ng-model="student.fax" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        
        <div class="form-group">
            <label for="language" class="col-sm-3 control-label">Sprache</label>
            <div class="col-sm-2">
                <select id="language" class="form-control" ng-required="true" ng-model="student.language">
                    <option value="Dutch">Deutsch</option>
                    <option value="English">Englisch</option>
                </select>
            </div>
            <div class="col-sm-7"></div>
        </div>
        
         <div class="form-group">
            <label for="email" class="col-sm-3 control-label">E-Mail</label>
            <div class="col-sm-4">
                <input type="email" id="email" class="form-control" ng-required="true" ng-model="student.email" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        
         <div class="form-group">
            <label for="emailConf" class="col-sm-3 control-label">E-Mail Bestätigung</label>
            <div class="col-sm-4">
                <input type="email" id="emailConf" class="form-control" ng-required="true" ng-model="student.emailConf" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        
        <div class="form-group">
            <label for="userName" class="col-sm-3 control-label">Benutzername</label>
            <div class="col-sm-4">
                <input type="text" id="userName" class="form-control" ng-required="true" ng-model="student.userName" />
            </div>
            <div class="col-sm-3"></div>
        </div>

         <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Kennwort</label>
            <div class="col-sm-4">
                <input type="password" id="password" class="form-control" ng-required="true" ng-model="student.password" />
            </div>
            <div class="col-sm-3"></div>
        </div>

          <div class="form-group">
            <label for="passwordConf" class="col-sm-3 control-label">Kennwort Bestätigung</label>
            <div class="col-sm-4">
                <input type="password" id="passwordConf" class="form-control" ng-required="true" ng-model="student.passwordConf" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            
            <div class="col-sm-9">
               
                <div class="radio">
                    <label><input value="online" type="checkbox" name="training" ng-required="true" ng-model="student.check" />Bitte informieren Sie mich über die wichtigsten Änderungen und neue
Produkte*</label>
                </div>
               
            </div>
           
        </div>
        <div class="col-sm-7"></div>
        <div class="" id="html_element"></div>
<br/>
        <input type="submit" value="Registrieren" class="btn btn-primary col-sm-offset-3" />
     </option>
    </form>

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async='async' defer='defer'></script>
	<script>
		var onloadCallback = function() {
			setTimeout(function() {
				grecaptcha.render('html_element', {
					'sitekey' : '6LdWBkIUAAAAAE_qAdIg9S58De1p-FxoNy-DbY3T'
				}); 
			}, 500)
		}
	</script>