<div class="section">
    <div class="container">
      <form class="form-horizontal" ng-submit="roofTileMfrSubmitForm()" role="form">
        <div class="form-group">
            <label for="manufacturer" class="col-sm-3 control-label">Manufacturer</label>
            <div class="col-sm-2">
                <select id="manufacturer" class="form-control" ng-model="student.manufacturer">
                    <option value="a">a</option>
                    <option value="b">b</option>
                    <option value="c">c</option>
                    <option value="d">d</option>
                </select>
            </div>
            <div class="col-sm-7"></div>
        </div>
        <input type="submit" value="Continue" class="btn btn-primary col-sm-offset-3" /> 
        <br/>
        <br/>
        <a href="#/country">Back</a>               
    </form>	
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->

