<div class="section">
    <div class="container">
      <form class="form-horizontal" ng-submit="tAndCSubmitForm()" role="form">
                         <div class="radio">
                    <label><input value="online" type="checkbox" name="training" ng-required="true" ng-model="student.agree" />
                    Bitte informieren Sie mich über die wichtigsten Änderungen und neue Produkte*</label>
                </div>
        <input type="submit" value="Calculate" class="btn btn-primary col-sm-offset-3" /> 
        <br/>
        <br/>
        <a href="#/country">Back</a>               
    </form>	
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->

